<div class="container-contact100">
  <div class="wrap-contact100">
    <%= form_with(model: article, local: true, class: "contact100-form validate-form") do |form| %>
      <% if article.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

          <ul>
          <% article.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <span class="contact100-form-title">
        Editando noticia
      </span>

      <div class="wrap-input100 validate-input">
        <%= form.text_field :title, class: "input100", placeholder: "Título" %>
        <span class="focus-input100"></span>
      </div>

      <div class="wrap-input100 validate-input">
        <%= form.text_area :description, class: "input100", placeholder: "Descripción" %>
        <span class="focus-input100"></span>
      </div>

      <div class="wrap-input100 validate-input">
        <label for="article_publishedAt">Publicada en:</label>
        <%= form.date_select :publishedAt, class: "input100", placeholder: "Publicada en" %>
        <span class="focus-input100"></span>
      </div>

      <div class="wrap-input100 validate-input">
        <%= form.text_field :source, class: "input100", placeholder: "Fuente" %>
        <span class="focus-input100"></span>
      </div>

      <div class="wrap-input100 validate-input">
        <%= form.text_field :urlToImage, class: "input100", placeholder: "Url a la imagen" %>
        <span class="focus-input100"></span>
      </div>

      <div class="wrap-input100 validate-input">
        <%= form.text_field :url, class: "input100", placeholder: "Url" %>
        <span class="focus-input100"></span>
      </div>

      <div class="container-contact100-form-btn">
        <%= form.submit %>
      </div>
    <% end %>
  </div>
</div>

<div class="container-contact100">

		<div class="wrap-contact100">
			<form class="contact100-form validate-form">
				<span class="contact100-form-title">
					Send Us A Message
				</span>

				<div class="wrap-input100 validate-input" data-validate="Please enter your name">
					<input class="input100" type="text" name="name" placeholder="Full Name">
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input" data-validate = "Please enter your email: e@a.x">
					<input class="input100" type="text" name="email" placeholder="E-mail">
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input" data-validate = "Please enter your phone">
					<input class="input100" type="text" name="phone" placeholder="Phone">
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input" data-validate = "Please enter your message">
					<textarea class="input100" name="message" placeholder="Your Message"></textarea>
					<span class="focus-input100"></span>
				</div>

				<div class="container-contact100-form-btn">
					<button class="contact100-form-btn">
						<span>
							<i class="fa fa-paper-plane-o m-r-6" aria-hidden="true"></i>
							Send
						</span>
					</button>
				</div>
			</form>
		</div>
	</div>
