<p id="notice"><%= notice %></p>

<p>
  <strong>Título:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Cuerpo de la noticia:</strong>
  <%= @article.description %>
</p>

<p>
  <strong>Publicada en:</strong>
  <%= @article.publishedAt %>
</p>

<p>
  <strong>Fuente:</strong>
  <%= @article.source %>
</p>

<p>
  <strong>Url a la imagen:</strong>
  <%= @article.urlToImage %>
</p>

<p>
  <strong>Url:</strong>
  <%= @article.url %>
</p>

<%= link_to 'Editar', edit_article_path(@article) %> |
<%= link_to 'Atrás', articles_path %>
