<p id="notice"><%= notice %></p>

<h1>Eventos</h1>

<div class="jss12 jss16 jss13">
  <table class="jss320 table">
    <thead class="jss321">
      <tr class="jss322 jss325">
        <th class="jss327 jss328" scope="col">Título</th>
        <th class="jss327 jss328" scope="col"><span tabindex="0" class="jss91 jss901 jss902" role="button">Descripción</span></th>
        <th class="jss327 jss328 center" scope="col">Epígrafe</th>
        <th class="jss327 jss328 center" scope="col">Fecha inicio</th>
        <th class="jss327 jss328 center" scope="col">Fecha de fin</th>
        <th class="jss327 jss328 center" scope="col">Hora</th>
        <th class="jss327 jss328 center" scope="col">Url</th>
      </tr>
    </thead>
    <tbody class="jss348">
      <% @events.each do |event| %>
        <tr class="jss322">
          <td class="jss327 jss329" style="width: 10%;"><%= event.title %></td>
          <td class="jss327 jss329" style="width: 20%;"><%= event.description[0..100] << "..." %></td>
          <td class="jss327 jss329 center"><%= event.epigraph %></td>
          <td class="jss327 jss329 center"><%= event.date %></td>
          <td class="jss327 jss329 center"><%= event.to_date %></td>
          <td class="jss327 jss329 center"><%= event.hour %></td>
          <td class="jss327 jss329 center"><%= event.url %></td>
          <td class="jss327 jss329 center"><%= link_to 'Ver más', event %></td>
          <td class="jss327 jss329 center"><%= link_to 'Editar', edit_event_path(event) %></td>
          <td class="jss327 jss329 center"><%= link_to 'Eliminar', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>
<form method="get" action="/events/new" class="button_to">
  <button tabindex="0" class="jss91 jss359 jss368 jss369 jss371 jss372" type="submit">
    <span class="jss360">
      <svg class="jss346 jss424" focusable="false" viewBox="0 0 24 24" aria-hidden="true"><g><path d="M19 3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm-2 10h-4v4h-2v-4H7v-2h4V7h2v4h4v2z"></path></g>
      </svg>
      Nuevo evento
    </span>
    <span class="jss94">
    </span>
  </button>
</form>
