<p id="notice"><%= notice %></p>

<p>
  <strong>Título:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Descripción:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Epígrafe:</strong>
  <%= @event.epigraph %>
</p>

<p>
  <strong>Fecha de fin:</strong>
  <%= @event.to_date %>
</p>

<p>
  <strong>Url:</strong>
  <%= @event.url %>
</p>

<p>
  <strong>Hora:</strong>
  <%= @event.hour %>
</p>

<%= link_to 'Editar', edit_event_path(@event) %> |
<%= link_to 'Atrás', events_path %>
