<p id="notice"><%= notice %></p>

<h1>Contacts</h1>

<div class="jss12 jss16 jss13">
  <table class="jss320 table">
    <thead class="jss321">
      <tr class="jss322 jss325">
        <th class="jss327 jss328" scope="col">Email</th>
        <th class="jss327 jss328 center" scope="col">Asunto</th>
        <th class="jss327 jss328" scope="col"><span tabindex="0" class="jss91 jss901 jss902" role="button">Cuerpo</span></th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody class="jss348">
      <% @contacts.each do |contact| %>
        <tr class="jss322">
          <td class="jss327 jss329" style="width: 10%;"><%= contact.email %></td>
          <td class="jss327 jss329 center"><%= contact.subject %></td>
          <td class="jss327 jss329" style="width: 20%;"><%= contact.description[0..100] << "..." %></td>
          <td class="jss327 jss329 center"><%= link_to 'Show', contact %></td>
          <td class="jss327 jss329 center"><%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>
