<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>

<p>
  <strong>Asunto:</strong>
  <%= @contact.subject %>
</p>

<p>
  <strong>Cuerpo de la consulta:</strong>
  <%= @contact.body %>
</p>

<%= link_to 'Atrás', contacts_path %>
