<ul class="ul2">
  <% if user_signed_in? %>
    <li><%=link_to "Home", root_path, :class=>"active" %></li>
    <li><%=link_to "Eventos", events_path %></li>
    <li><%=link_to "Noticias", articles_path %></li>
    <li><%=link_to'Contactos', contacts_path %></li>
    <li style="float:right"><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %> </li>

    <!-- <li style="float:right"><p>Logged in as <strong><%= current_user.email %></strong>.</p></li> -->
  <% else %>
    <li style="float:right"><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %> </li>

  <% end %>
</ul>
<!--
<% if user_signed_in? %>
  <ul class="ul1">
    <li><%=link_to "Home", root_path, :class=>"active" %></li>
    <li><%=link_to "Eventos", events_path %></li>
    <li><%=link_to "Noticias", articles_path %></li>
    <li><%=link_to'Contactos', contacts_path %></li>
  </ul>
<% end %>
-->
