<!DOCTYPE html>
<html>
  <head>
    <title>AppDipre</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/navbar" %>


    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <!-- <div style="margin-left:25%;padding:1px 16px;height:1000px;"> -->
    <div style="margin: 5%"">
      <%= yield %>
    </div>

  </body>
</html>
